 <div id="smileswrapper" style="display: none; margin: auto;">
   
 <% cols = 0 %>
 <% rows = 0 %>
 <% pid = 1 %>
   
 <div id="page<%= pid -%>" style="display: '';">
   <table border="0" class="smiletable"><tr>
   <% for i in (1..254) %>

     <% if cols == 3 %>
       <td>

       <%= link_to_remote image_tag("smiles/" +  @smiles[i] +".gif", :border =>'0'),
                         :url => {
                            :controller => 'main',
                            :action => 'addbbtag',
                            :bbtag => ' :' +  @smiles[i] +': '
                          } %>
       </td>
       <% rows += 1 %>
       <% cols = 0 %>
       </tr><tr>
     <% else %>
       <td>
        <%= link_to_remote image_tag("smiles/" +  @smiles[i] +".gif", :border =>'0'),
                         :url => {
                            :controller => 'main',
                            :action => 'addbbtag',
                            :bbtag => ' :' +  @smiles[i] +': '
                          } %>
       </td>
       <% cols += 1 %>
     <% end %>

     <% if rows == 4%>
       <% pid += 1 %>
       <% rows = 0 %>
       </tr></table>
       </div>
       <div id="page<%= pid -%>" style="display: none;">
       <table border="0" class="smiletable"><tr>
     <% end %>
       
   <% end %>
   </tr></table>
   </div>
   <br>
  
   <center>
   <%= link_to_function 1, "smilesPaginator('1')", :id => "link1", :class => "sm-paginator-active" %>
   <% for i in (2..pid) %>
    <%= link_to_function i, "smilesPaginator('#{i}')", :id => "link#{i}" %>
   <% end %>
   </center>
 
 </div>