<tr><td class=" have_border_top pt10">Name:</td><td class=" have_border_top pt10"><%= @user.passport.real_name %></td></tr>
<tr><td class="user_profile_show_lable">Date of birth:</td><td><%= @user.passport.date_of_birth %></td></tr>
<tr><td>Profession:</td><td><%= @user.passport.profession %></td></tr>
<tr><td>City:</td><td><%= @user.passport.city %></td></tr>
<tr><td class="have_border_bottom pb10">Country:</td><td class="have_border_bottom pb10"><%= @user.passport.country %></td></tr>
<tr><td class="pt10">E-mail:</td><td class="pt10"><%= @user.passport.email %></td></tr>
<tr><td>Site:</td><td><%= @user.passport.site %></td></tr>
<tr><td>Skype:</td><td><%= @user.passport.skype %></td></tr>
<tr><td class="pb10">ICQ:</td><td class="pb10"><%= @user.passport.icq %></td></tr>
