<table class="users" cellspacing="0" cellpadding="0">
  <tr>
    <td class="w200px">user</td><td>group</td><td>posts</td><td>register date</td>
  </tr>
<% @users.each do |user| %>
  <tr>
    <td>
        <% if @user %>
          <%= user.name == @user.name ? (link_to user.name, edit_user_path(user)) : (link_to user.name, user_path(user)) %>
        <% else %>
          <%= link_to user.name, user_path(user) %>
        <% end %>

    </td>
    <td><%= user.group_id == nil ? "None" : user.group.name.to_s %></td>
    <td><%= user.messages.size  %></td>
    <td><%= user.created_at.to_s(:long) %></td>
  </tr>
<% end %>
</table>